certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.20
django-dotenv==1.4.2
django-webpack-loader==0.6.0
eventbrite==3.3.3
gunicorn==19.9.0
idna==2.6
opbeat==3.5.2
psycopg2-binary==2.7.7
requests==2.18.4
pytz==2018.9
requests==2.21.0
urllib3==1.24.1
whitenoise==4.1.2
