body {
  font-family: 'Passion One', cursive;
}

h1 {
  text-align: center;
  color: #0B3954;
}

p {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.topPad {
  padding-top: 60px;
}


/* Header */
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./../img/portico.jpg');
  background-size: cover;
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 15vh;
  color: white;
}

.header img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  opacity: .9;
}

.header h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
}


/* Venue */
.venue {
  color: white;
  /*background: #232323;*/
  background: #0B3954;
}

.venue h1 {
  color: white;
}


/* FAQ */
.faq {
  /*background: #263D42;*/
  background: #0B3954;
}

.faq h1 {
  color: white;
}

.faq .collapsible-header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  background: #ECEEF3;
  color: #263D42;
}

.faq .collapsible-body {
  color: #263D42;
  background: #ECEEF3;
}


/* Sponsors */
.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsors img {
  margin: 30px;
  display: flex;
  flex-direction: column;
  height: 15vw;
  width: auto;
}


/* Schedule */
.schedule {
  color: #263D42;
  background: #CCDBDC;
}

.schedule h3 {
  padding: 1em;
  text-align: center;
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 24px;
  margin-bottom: 0px;
}

.schedule td {
  background: #F2F2F2;
  padding-left: 20px;
}

.schedule tr {
  border-bottom: 2px solid #CCDBDC;
}

.schedule .time {
  font-weight: bolder;
}

.schedule td p {
  margin: 0px;
}

.schedule i, .schedule p {
  font-size: 16px;
}
