{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCL API Hackathon</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Social card info -->
    <meta property="og:title" content="UCL API Hackathon" />
    <meta property='og:site_name' content="UCL API Hackathon">
    <meta property="og:description" content="Spend a weekend building cool stuff to make UCL more awesome.">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://hackathon.uclapi.com" />
    <meta property="og:updated_time" content="2017-10-07 09:00:00 +0100" />
    <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}/static/social_card.png" />
    <meta property="og:image:url" content="http://githubfieldday.com/assets/card.png" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="Spend a weekend building cool stuff to make UCL more awesome." />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="UCL API Hackathon" />
    <meta property="twitter:image" content="https://{{ request.META.HTTP_HOST }}/static/social_card.png" />
    <meta property="twitter:creator" content="@uclapi" />
    <meta property="twitter:description" content="Spend a weekend building cool stuff to make UCL more awesome.">
    <meta property="twitter:image:alt" content="Spend a weekend building cool stuff to make UCL more awesome." />
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.initialData = {{ initial_data|safe }};
    </script>
    {% render_bundle 'main' %}
  </body>
</html>
